@import "tailwindcss";

@theme {
  --color-sage-50: #f0f4f0;
  --color-sage-100: #dce6dc;
  --color-sage-200: #bdd0bd;
  --color-sage-300: #9ab89a;
  --color-sage-400: #759d75;
  --color-sage-500: #5a825a;
  --color-sage-600: #486b48;
  --color-sage-700: #3a563a;
  --color-sage-800: #2f452f;
  --color-sage-900: #263726;
  
  --font-family-serif: Georgia, serif;
}